@import './Styles/layout.scss';
@import './Styles/navbar.scss';
@import './Styles/typography.scss';
@import './Styles/title.scss';
@import './Styles/about.scss';
@import './Styles/skill.scss';
@import './Styles/services.scss';
@import './Styles/blogs.scss';
@import './Styles/contact.scss';
@import './Styles/protfolios.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #a4acc4;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.2rem;
}

body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: #0056d898;
    border-radius: 50px;
}
body::-webkit-scrollbar-track{
    background-color: #777;
}

span{
    color: #037FFF;
}

@media screen and (max-width: 411px){
    html{
        font-size: 70%;
    }
}
@media screen and (max-width: 700px){
    html{
        font-size: 90%;
    }
}
@media screen and (max-width: 480px){
    h2{
        font-size: 70%;
    }
    h3{
        font-size: 70%;
    }
}